{% extends "base.html" %}

{% block content %}
    <div class="form">
        <form method="post">
            <div class="section1">
                <div class="header">
                    <h2>Selecciona una figura</h2>
                    <button type="submit">Siguiente</button>
                </div>
            </div>
            <div class="section2">
                {% for value in list %}
                    <div class="card">
                        <div class="card_content">
                            <input type="radio" id="input_{{value}}" name="picture_selection" value="{{value}}">
                            <div class="image">
                                <img src="../static/imgs/{{value}}.png">
                            </div>
                            <label for="input_{{value}}">{{value}}</label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}